.accommodation-rules-intro {
  max-width: 48rem;
  line-height: 1.6;
  color: var(--neutral-600);
}

.accommodation-rules-title {
  overflow-wrap: break-word;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--neutral-900);
}

.accommodation-rules-list {
  list-style: none;
}

.accommodation-rules-list li {
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--neutral-600);
}
