.benefits-section-head {
  text-align: center;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  gap: var(--tbf-gap-lg);
  padding: 1.5rem;
}

.benefit-card-icon {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  background: var(--neutral-800);
}

.benefit-card-icon .icon-glyph {
  font-size: 1.5rem;
  color: var(--white-500);
}

.benefit-card-text-group {
  display: flex;
  flex-direction: column;
  gap: var(--tbf-gap-sm);
}

.benefit-card-title {
  overflow-wrap: break-word;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--white-500);
}

.benefit-card-description {
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--neutral-400);
}

@media (min-width: 640px) {
  .benefit-card {
    padding: 2.5rem;
  }

  .benefit-card-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 767.98px) {
  .benefits-section-inner .card-table-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits-section-inner .card-table-cols-3 .card-table-cell:nth-child(-n + 2) {
    border-top: none;
  }

  .benefits-section-inner .card-table-cols-3 .card-table-cell:nth-child(2n) {
    border-left: 1px solid var(--neutral-800);
  }
}
