.benefit-card {
  gap: var(--tbf-gap-lg);
  padding: 1.5rem;
}

.benefit-card-icon {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  background: var(--neutral-800);
}

.benefit-card-icon .icon-glyph {
  font-size: 1.5rem;
  color: var(--white-500);
}

.benefit-card-title {
  overflow-wrap: break-word;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--white-500);
}

.benefit-card-description {
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--neutral-400);
}

@media (min-width: 640px) {
  .benefit-card {
    padding: 2.5rem;
  }

  .benefit-card-title {
    font-size: 1.25rem;
  }
}
