[data-tile="contrast"] {
  --icon-tile-size: 3.5rem;
  --icon-tile-bg: var(--neutral-800);
  --icon-tile-color: var(--white-500);
}

[data-on-dark] {
  color: var(--white-500);
}

@media (min-width: 640px) {
  h3[data-on-dark] {
    font-size: 1.25rem;
  }
}
